<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask and Dash Integration</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar__container">
            <!-- Rotating logo -->
            <span class="navbar__logo">
                <img src="" alt="Logo">
            </span>
            <!-- Main title -->
            <div class="navbar__title navbar__title--main">
                
            </div>
            <!-- Hidden title -->
            <div class="navbar__title navbar__title--hidden">
                
            </div>
        </div>
    </nav>
    <iframe src="{{ dash_url }}" width="100%" height="600"></iframe>
</body>
</html>
