<nav class="navbar">
    <div class="navbar__container">
        <!-- Rotating logo -->
        <div class="navbar__logo">
            <img src="{{ url_for('static', filename='images/mega-sena-leaf.png') }}" alt="Logo">
        </div>
        <!-- Main title -->
        <div class="navbar__title navbar__title--main">
            <img src="{{ url_for('static', filename='images/mega-sena-letters.png') }}" alt="Mega-Sena">
        </div>
        <!-- Hidden title -->
        <div class="navbar__title navbar__title--hidden">
            <span>{{ hidden_tag }}</span>
        </div>
    </div>
</nav>